DATABASE_URL="PG_URL_FROM_SUPABASE"
LANGSEARCH_API_KEY="langsearchapikey"
OPENROUTER_API_KEY="openrouter-api-key"
GOOGLE_CLIENT_ID="google client id for oauth"
GOOGLE_CLIENT_SECRET="google client secret for oauth"
AUTH_SECRET="auth secret"
AUTH_URL="http://localhost:3000/"