name: Deploy the Webapp on ec2
on:
    push:
        branches: ["main"]
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Copy the code to machine.
              uses: actions/checkout@v4
            - name: Login to Github
              uses: docker/login-action@v3
              with :
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name : build the image and push to docker hub
              run :  |
                docker build -t rageydev/ai-chat-app:latest .
                docker push rageydev/ai-chat-app:latest
            - name: SSH into EC and pull / run the image.
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{secrets.EC2_USER}}
                key: ${{ secrets.EC2_SSH_KEY }}
                script: |
                    docker pull rageydev/ai-chat-app || true
                    docker stop ai-chat-app || true
                    docker rm ai-chat-app || true
                    docker run --name ai-chat-app -p 4000:4000 -d -e DATABASE_URL=${{secrets.DATABASE_URL}} -e LANGSEARCH_API_KEY=${{secrets.LANGSEARCH_API_KEY}} -e OPENROUTER_API_KEY=${{secrets.OPENROUTER_API_KEY}} -e GOOGLE_CLIENT_ID=${{secrets.GOOGLE_CLIENT_ID}} -e GOOGLE_CLIENT_SECRET=${{secrets.GOOGLE_CLIENT_SECRET}} -e AUTH_SECRET=${{secrets.AUTH_SECRET}} -e AUTH_URL=${{secrets.AUTH_URL}} ai-chat-app:latest